@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* * {
  border: 1px solid red;
} */

.profile {
  background-image: url("/images/avatar.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  filter: blur(10px);
  object-fit: cover;
}
